{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {% for article in articles %}
        {% if article.photo %}
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ MEDIA_URL }}{{ article.photo }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.prev }}</p>
                    <p class="card-text"><small class="text-muted">{{ article.created_date }}</small></p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'delete' pk=article.id %}" class="btn btn-primary">Удалить</a>
                        <a href="{% url 'edit' pk=article.id %}" class="btn btn-primary">Изменить</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
        {% else %}
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article' pk=article.id %}">{{ article.title }}</a></h5>
                    <p class="card-text">{{ article.prev }}</p>
                    <p class="card-text"><small class="text-muted">{{ article.created_date }}</small></p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'delete' pk=article.id %}" class="btn btn-primary">Удалить</a>
                        <a href="{% url 'edit' pk=article.id %}" class="btn btn-primary">Изменить</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a href="{% url 'write_art' %}" class="btn btn-primary">Добавить статью</a>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>